*{
    padding :0;
    margin: 0;
    box-sizing: border-box;
 } 
 /* reset CSS */
 /*
 1.vị trí 
 2. kích thước 
 3. màu sắc
 4.kiểu chữ

  */
  .clear{
      clear: both;
  }
  html{
      scroll-behavior: smooth;
      font-family: Arial, Helvetica, sans-serif;
  }
  .row{
      margin-left: -8px;
      margin-right: -8px;
  }
  .row::before{
      content: "";
      display: block;
      clear: both;
  }
  .col{
      float: left;
      padding-left: 8px;
      padding-right: 8px;
  }
  .col-full{
      width: 100%;
  }
  .col-third{
    width: 33.33333%;
  }
  .col-half{
      width: 50%;
  }
  .mt8px {
      margin-top: 8px !important;
  }
  .mt16px {
    margin-top: 16px !important;
}
.center-align{
    text-align: center ;
}
 #master{

 }
/* main */
 #header{
    height: 46px;
    background-color: black;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1;
    
 }
#nav{
    display: inline-block;
}
#nav >li{
    display: inline-block;
}
#nav li{
    position: relative;
    
}
#nav > li >a{
    color: #fff;
    text-transform: uppercase;
    
}
#nav .subnav a {
    color: #000;
    padding: 0  12px;
    line-height: 38px;
}

#nav li a{
    color: #ffff;
    text-decoration: none; 
    line-height: 46px;
    padding:  0 24px;
    display: block;
}
#nav li:hover .subnav{
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
  
}
#nav .subnav{
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: #fff;
    list-style-type: none;
    box-shadow:0 0 10px rgba(0,0,0, 0.5) ;
}
#nav .nav-icon{
    font-size: 14px;
}

#header .search-button{
    float: right;
    padding : -1px 21px;
}
#header .search-button :hover{
    background-color: #f44336;
    cursor: pointer;
}
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    padding: 14px 14px;
    
    
}

 #slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/img1.jpg') top center /    cover  no-repeat;
    
 }
#slider .text-content {
    position: absolute;
    color:#fff;
    bottom: 47px;
    /* left: 50%;
    right: 0;
    transform: translate(-50%); */
    /* width: 100%; */
    right: 0;
    left:0;
    text-align: center;
}
#slider .text-heading{
    font-size: 24px;
}
#slider .text-disciption{
    font-size: 15px;
    margin: 25px;
}
 #content .content-section{
    width: 800px;
    padding:64px ;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 112px;
    
 }
 #content .section-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 15px;
 }
 #content .section-subheading{
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
    font-style: italic;
    opacity: 0.6;
 }
 #content .about{
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
 }
#content .member-item{
    float: left;
    width: 33.3333%;
    text-align: center;
}
#content .member-list{
    /* overflow: hidden; */
    padding-top: 48px;
   
}
#content .member-name{
    font-size: 15px;
    
    padding-bottom: 15px;
}
#content .img-name{
    border-radius: 4px;
}
 .tour-section
 {
     background-color: black;
 }
 .text-white{
     color: #fff !important;
 }

 .ticket-list{
     background-color: #fff;
     margin: top 40px;;
     list-style: none;
     
 }
 .ticket-list li{ 
     color: #7575;
     font-size: 15px;
     padding: 11px 16px;
     border-bottom: 1px solid #ddd;
 }
 .ticket-list .sold-out{
    background-color:#f44336;
    color:#fff;
    font-size: 15px;
    padding: 0px 8px;
    margin-left: 16px;

 }
 .ticket-list .quantily{
     background-color: black;
     color: #fff;
     width: 24px;
     height: 24px;
    border-radius: 50%;
    line-height: 24px;
     padding: 0px 8px;
     right: 0px;
     float :right;
    

 }
.places-list{
    
    margin-top: 32px;
    

}
.place-body{
    background-color: #fff;
    line-height: 24px;
    padding: 16px;
    font-size: 15px;
}
.place-time{
    padding-top: 8px;
    padding-bottom: 8px;
    color: #7575;
}
.place-dct{
    padding-top: 8px;
    font-size: 15px;
    padding-bottom: 8px;
}

.place-heading{
    font-size: 15px;
    font-weight: 550;
}
.place-img
{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.5;
}

.place-buy-ticket{
    background-color: black;
    color: white;
    padding: 8px 16px;
    list-style: none;
    display: inline-block;
    text-decoration: none;
}
.place-buy-ticket:hover{
    color: #000;
    background-color: #ccc;
   
}
.Contact-content{
    margin-top: 48px;
}
.Contact-info{
    font-size: 18px;
    line-height: 1.5;   
}
.Contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}
.Contact-form{
    font-size :15px;    
    padding-bottom: 112px;
}
.Contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
} 
.Contact-form .form-submit{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 16px;
    float: right;
}
.Contact-form .form-submit:hover{
    background-color: #ccc;
    color: #fff;
    cursor: pointer;
}

.map-section img {
    width: 100%;
}
 #footer {
    padding: 64px 16px;
 }
 .social-list{
     font-size: 24px;
 }
 .social-list a{
     text-decoration: none;
     color: rgba(0,0,0, 0.6); 
 }
 .social-list a:hover{
    color: rgba(0,0,0, 0.3);
 }
 .copyright{
     color:gray;
     margin: 15px;
 }
 .copyright a{
    color:gray;
}
.modal{
    position: fixed;
    top: 0;
    bottom: 0;right: 0;left: 0;
    background: rgba(0,0,0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-container{
    background: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    
}

.header-modal{
    padding: 32px 16px;
    background: #009688;
    color: #fff;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:130px;
    letter-spacing: 10px;
    font-family: "Segoe UI",Arial,sans-serif;
    
}

.modal-close{
    position: absolute;
    background: #009688;
    padding: 8px 10px;
    color: #fff;
    font-size: 24px;
    top:0;
    right: 0;
    cursor: pointer;
    opacity: 0.9;
}
.modal-close:hover{
    opacity: 1;
}
.header-body{
    padding: 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin:15px 0;
    color: #000000;
}
.modal-input{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
}
#buy-ticket{
    font-size: 16px;
    color: #fff;
    background: #009688;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
    padding: 16px;
    border:none;
    cursor: pointer;
}
#buy-ticket:hover{
    opacity: 0.9;
}

.modal-help{
    color: black;
    float: left;
}
.modal-footer{
   

}

 